@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2.css";

.homeScreen {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.logoContainer {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    /* border-radius: 50%;
    background-color: #eee; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}